body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.disp-flex-main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.disp-flex {
  align-items: baseline;
  display: flex;
}

.content {
  flex-direction: column;
}

.header, .top, .form, .examples {
  max-width: 1240px;
}

.list {
  width: 100%;
}

.list--center {
  text-align: center;
}

.list--padding-left {
  padding-left: 0;
}

.list__elem {
  display: inline-block;
}

.elem--block {
  display: block;
}

.art {

}

.art__par {

}

.art__par--bg {

}

.art--center {
  text-align: center;
}

.form-group {
  padding: 10px;
  vertical-align: middle;
}

.form-group__label {
  display: inline-block;
  width: 70px;
}

.form-group__input {
  display: inline-block;
}

.form-group__desc {
  display: block;
}

.label--for-checkbox, .label--for-button {
  width: 90%;
}

@media screen and (max-width: 640px) {
  .disp-flex {
    flex-direction: column;
  }

  .form-group__label {
    display: inline-block;
    width: 70px;
  }

}
